{% extends 'base.html' %}



{% block header %}
<header class="header w-full  bg-gray-300 border-2 border-gray-600" id="header">
    <p class="text-gray-600 text-center font-bold text-3xl p-8">詳細画面</p>
</header>
{% endblock header %}


{% block content %}
<div class="py-4 px-4 md:py-8 w-full md:w-1/2 mx-auto">
    <p class="mb-4 text-2xl md:text-3xl font-bold text-red-500">{{ object.title }}</p>
    <p class="mb-4 text-base md:text-xl font-bold text-gray-500"><span class="block text-sm text-gray-500">{{ object.duedate }}</span>{{ object.memo }}</p>
</div>
{% endblock content %}