{% extends 'base.html' %}



{% block header %}
<header class="header w-full  bg-gray-300 border-2 border-gray-600" id="header">
    <p class="text-gray-600 text-center font-bold text-3xl p-8">リスト</p>
</header>
{% endblock header %}


{% block content %}
<div class="py-8 w-8/12 mx-auto my-8 border-2 border-blue-600">
    <p class="mb-4 border-2 border-red-600 bg-red-400 text-2xl font-bold text-red-500">{{ object.title }}</p>
    <p class="mb-4 border-2 border-gray-600 bg-gray-400 text-xl font-bold text-gray-500">{{ object.memo }}</p>
</div>
{% endblock content %}